
.black-box{
margin-top: 20vh;
margin-bottom: 20vh;
max-width: 80rem;
border: 2px solid #040404;
padding: 3.2rem 6.4rem;
border-radius: 5px;

}

.general-text--input, .select-input{
width: 100%;
border: 1px solid #d0cdce;
height:	3.2rem;
	border-radius: 5px;
	font-family: "Lato", sans-serif;
	line-height: 1.6;
	color: #040404;
	padding-left: 0.8rem;

}

/* ------------ */
/*HEADER AND NAVBAR*/
/* ------------ */
.header {
	padding: 2.4rem 4.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top:0;
	width: 100%;
	background-color: #F7F4F4;
	height: 8rem;
	z-index: 999;
	box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
	border-bottom: 2px solid #040404;
}



.main-nav {
	display: flex;
	width: 100%;
}

#login-button{

	margin-left:auto;
}
.main-nav-list {
	margin-left: auto;
	list-style: none;
	display: flex;
	gap: 12.8rem;
	align-items: center;

}

.btn-mobile-nav {
	display: none;
	border: none;
	background: none;
	cursor: pointer;
}


.icon-mobile-nav {
	height: 4.8rem;
	width: 4.8rem;
	color: #040404;
}



.icon-mobile-nav[name="close-outline"] {
	display: none;
}

a.current-link{

	color: #8B2E39;
	text-decoration: underline;

}
.red-circle-button{
	width: 6.4rem;
	height: 6.4rem;
	border-radius: 50%;
	background-color: #8B2E39;
	border: 2px solid #8B2E39;
	color: white;
	cursor: pointer;
	transition: all 500ms;
}

.red-circle-button1{
	width: 6.4rem;
	height: 6.4rem;
	border-radius: 50%;
	background-color: #8B2E39;
	border: 2px solid #8B2E39;
	color: white;
	cursor: pointer;
	transition: all 500ms;
}

i{
	font-size: 2rem;

}

/* ------- */
/* FILTERS */
/* ------- */

.filter-section {
	background-color: #FAE3B9;
}

.search-icon {
	height: 18px;
	width: 18px;
}

.grid-row-gap-md {
	row-gap: 4.8rem;
}

.one-row--filter {
	width: 50%;
}
.active{
	color: #8B2E39;
	background-color: white;


}

.hidden{
	display: none;
}

/* ----------- */
/* MAIN FILTERS*/
/* ----------- */

.filters-button {
	background-color: #ffffff;
	color: #d0cdce;
	border: 1px solid #d0cdce;
	height:	4.8rem;
	border-radius: 5px;
	font-family: "Lato", sans-serif;
	letter-spacing: 1.3px;
	line-height: 1.6;
	padding: 0 2.4rem;
}

.filters-button:hover {
	cursor: pointer;
	color: #040404;
	border-color: #040404;
	transition: all 300ms;
}

.search-bar-main {
	width: 100%;
	border: 1px solid #d0cdce;
	height:	4.8rem;
	border-radius: 5px;
	font-family: "Lato", sans-serif;
	line-height: 1.6;
	color: #040404;
	padding-left: 0.8rem;
}

.container-main {
	margin: 0 auto;
	width: 95%;
}

#search-and-filters-button {
	grid-template-columns: 7fr 1fr;
	column-gap: 4.8rem;
}

/* ---- */
/* MAIN */
/* ---- */

.pop-up {
	border: 1px solid #d0cdce;
	background-color: #F7F4F4;
	border-radius: 5px;
	max-width: 60rem;
	top: 20%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 3.2rem 3.2rem;
	position: fixed;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.dimmed-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
	overflow: hidden;
}

#sort-filters {
	margin: 0 3.2rem;
}

.range-filters {
	margin: 0 3.2rem;
}

.container-button-left {
	width: 95%;
	display: flex;
	justify-content: flex-end;
	/* margin-top: 6.4rem; */
}

.exit-button-div {
	width: 95%;
	display: flex;
	justify-content: flex-end;

}

.exit-button-right{
	cursor: pointer;
}

/* ------ */
/* FOOTER */
/* ------ */

.footer {
	max-width: 100%;
	border-top: 2px solid #9b9b9b;
	padding: 6.4rem 8.0rem;
	background-color: #F7F4F4;
	font-size: 1.4rem;
}

.footer-headings {
	font-weight: bold;
}

#copyright {
	display: inline-block;
	color: #d0cdce;
	margin: 0 auto;
	padding-top: 3.2rem;
}

/* ------------------- */
/* LISTING AND PAYMENT */
/* ------------------- */

.listing-section {
	background-color: #F7F4F4;
	position: relative;
	width: 100%;
	padding-bottom: 4rem;
}

.exit-button-payment {
	width: 95%;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.payment-section {
	border-bottom: 1px solid #040404;
	margin-bottom: 3.2rem;
}

.credit-card-icons {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.credit-card-input {
	position: relative;
	display: flex;
	gap: 1.2rem;
}

.heading-tertiary--black {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.4;
}

.smaller-input {
	width: 50%;
}

#paypal {
	width: 100%;
	color: #ffffff;
	background-color: #0079C1;
	border: none;
	border-radius: 5px;
	height: 4.8rem;
	font-family: "Lato", sans-serif;
	cursor: pointer;
}

#paypal:hover {
	background-color: #0c8ee2;
}

.transaction-pop-up {
	position: absolute;
	margin-top: 30rem;
}

.comment-section {
	padding: 0 6.4rem;
}

.comments-btn {
	cursor: pointer;
}

.comment-box {
	width: 100%;
	border: 1px solid #d0cdce;
	border-radius: 5px;
	font-family: "Lato", sans-serif;
	line-height: 1.6;
	color: #040404;
	/* padding-left: 0.8rem; */
	background-color: #ffffff;
	margin-top: 0.8rem;
	padding: 10px;
}

.child-comment {
	margin-left: 6.4rem;
	font-size: 1.4rem;
}

.reply {
	text-decoration: underline;
	cursor: pointer;
}

/* ------- */
/* PROFILE */
/* ------- */

.users {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 20px;
	align-items: center;
}

.all-users {
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

.admin-section {
	padding-left: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.profile {
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 120px;
	margin-bottom: 50px;
	display: flex;
}

.profile-info-left {
	margin-right: 50px;
	height: 16rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile-info-right {
	height: 16rem;

}

.profile-info-title {
	font-size: 2.4rem;
	font-weight: 500;
}

.profile-picture {
	height: 16rem;
	width: 16rem;
	border-radius: 100px;
}


.listings {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	max-height: 340px;
	overflow-x: hidden;
	overflow-y: auto;
	gap: 30px;
	border: 1px solid black;
	padding: 3.2rem 1.6rem;
}

.profile-listings {
	display: flex;
	flex-wrap: wrap;
	height: 100px;
}

.listing-info {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.add-listing {
	background-color: #D9D9D9;
	padding: 4.8rem 6.4rem;
}

.your-profile-header {
	justify-content: flex-start;
}

.textarea {
	width: 100%;
	height: fit-content;
	border: 1px solid #d0cdce;
	border-radius: 5px;
	font-family: "Lato", sans-serif;
	line-height: 1.6;
	color: #040404;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	wrap-option: hardsoft;
}

.wide-button {
	display: block;
	background-color: #8b2e39;
	color: #fff;
	outline: none;
	border: none;
	padding: 1.6rem 8rem;
	border-radius: 5px;
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 1.3px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: all 300ms;
	font-family: "Lato", sans-serif;
	cursor: pointer;
}

.red-alert{
	background-color: #A12A3E;
	border: 1px solid darkred;
	color: white;
	text-align: center;
	margin-bottom: 1rem;
	border-radius: 8px;
}

.listing_img {
	width: 350px; /* Set the desired width */
	height: 300px; /* Set the desired height */
	object-fit: cover; /* Ensures the image covers the given dimensions without distortion */
	border-radius: 9px 9px 0 0;
}

.listing_img_small{

	width: 100px; /* Set the desired width */
	height: 100px; /* Set the desired height */
	object-fit: cover; /* Ensures the image covers the given dimensions without distortion */
}

.listing_div{
	max-width: 350px;
	border-radius: 9px;
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
	background-color: white;

}

.listing_div-text{

	padding: 1.6rem 3.2rem;

}
.listing-header{

	font-size: 2.4rem;
}

.font-size44{
	font-size: 4.4rem;
}


.stock{

	align-self: end;
	justify-self: end;
}

.description{

	background-color: white;
	border-radius: 9px;
	padding: 1.6rem 3.2rem;
}

.listing-details-table {

	border-collapse: collapse;
	margin-bottom: 1rem;
}

.listing-details-table th, .listing-details-table td {
	text-align: left;
	padding: 8px;
}

.listing-details-table th {
	padding-bottom: 10px; /* Adding a gap between the header and the data */
	border-bottom: 1px solid #ddd;
}

.listing-details-table td {
	border-bottom: 1px solid #ddd;
}